@media only screen and (max-width:1366px) {
    body {
        background-color: #231f1f;
        transition-duration:1s;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
    .wrraper {
        margin-left: auto;
        margin-right: auto;
    }
    #logo {
        width: 80px;
        margin-left: 8%;
        margin-top: 2%;
        height: auto;
        position:relative;
        display:none;
    }
        #imgbg {
        position:fixed;
        z-index: -100;
        width: 110%;
        height: auto;
        opacity: 1;

    }
    #logologo {
        width:80px;
        height:auto;
        margin-left: 8%;
        margin-top: 2%;
        position:relative;
    }
    #imgbg1 {
       display: none;
        opacity: 0;
    }
    .icon {
        height: auto;
        width: 40px;
        padding: 0px 10px;
        position: relative;
        float: right;
        top: 50px;
        right: 110px;
        display: inline-block;
    }   
    .auto-style1 {
        width: 300px;
        height: 329px;
    }
    .auto-style2 {
        width: 200px;
    }
    #vyggo {
        font-family: Ubuntu;
        font-weight: 700;
        font-size: 20px;
        margin-left: 8.7%;
        padding-bottom: 30px;
        margin-top: 0%;
        position: absolute;
        color: #33CC33;
    }
    #amazing {
        transition-duration: 5s;
    }
    h1 {
        transition-duration: 5s;

    }
    #gameamazing {
        margin-top: -13%;
        display:none;
        transition-duration: 5s;
}
     #pink {
        position:absolute;
        margin-top: 50%;
    }
     #blue:hover {
         background-color: #ed610c;
         color: white;
         transition-duration: 1s;

     }
     #blue {
         position: absolute;
         margin-top: 40%;
         float:left;
     }
    input {
        background:none;
        color:white;
        border: 2px solid white;
        border-radius: 15px;
        font-family: Ubuntu;
        font-weight: 600;
        padding: 5px 10px;
    }
    .text2 {
        font-family: Ubuntu;
        margin-top: 3%;
        position: absolute;
        margin-left: 8%;
        color: #33CC33;
        font-weight: 500;
        font-size: 40px;
    }
    h1 {
        font-weight: 600;
        font-size: 40px;

    }
    h3 {
        margin-top: 5%;
        font-size: 30px;
        font-weight:500;
    }
    #subscribe1 {
        background-color:black;
        opacity: 0.9;
        left: -2%;
        position: absolute;
        top: 0px;
        width: 105%;
        font-family: Ubuntu;
        height: 650px;
        text-align: left;
        font-weight: 600;
        color: white;
        z-index: -5;
        margin-top: 9%;
        transition-duration: 2s;
      
    }
    input:-moz-placeholder {
        color: green;
    }
    #subscribe {
        margin-top: 5%;
        float: right;
        margin-right: 6%;
        position: relative;
        width: 300px;
        font-family: Ubuntu;
        height: 269px;
        text-align: left;
        font-weight: 500;
    }
        #newsletters {
        color:#33CC33;
        float:right;
        margin-right: 20%;
        margin-bottom: 4%;
    }
    #text4 {
        font-size: 20px;
        font-family: Ubuntu;
    }
    label {
        color: #33CC33;
        margin-left: 20px;
    }
    #Label1 {
        font-family: Ubuntu;
        font-size: 15pt;
        font-weight: 600;
        text-align: center;
        left: 100px;
        position: relative;
        top: 20px;
        color: #33CC33;
    }
    #Check {
        width: 15px;
        height: auto;
        color: white;
        position: absolute;
        padding-right: 20px;
        margin-top:1.7%;
    }
    #txtfname, #txtinterest, #txtlname, #txtemail {
        border: 1px solid #456879;
        border-radius: 5px;
        background-color: lightgoldenrodyellow;
        font-family: Ubuntu;
        padding-left: 5px;
        width: 243px;
    }
    #txtfname, #txtinterest, #txtlname, #txtemail::-webkit-input-placeholder ::-moz-placeholder {
            color: orange;
        }
    #Button1 {
        padding: 0px 20px;
        color: #33cc33;
        font-family: Ubuntu;
        font-weight: 500;
        border: 2px solid #33CC33;
        border-radius: 15px;
        font-size: 12pt;
      
    }
     #pink:hover {
        color:white;
        background-color:#234FFF;
        border: 2px solid #234FFF;
        transition-duration: 1s;
    }
    #Button1:hover {
            border: solid 2px white;
            color: white;
            
            transition-duration: 1s;
        }
    #text {
        font-family: Ubuntu;
        margin-top: 36%;
        margin-left: 8%;
        color:  #33CC33;
        font-weight: 500;
        font-size: 25px;
    }
    #arrowtxt {
        font-family: Ubuntu;
        color: #ed610c;
        font-size: 10pt;
        position: absolute;
        margin-top: -20px;
        width: 20%;
        margin-right: 200px;
    }
    #arrow {
        position: absolute;
        width: 3%;
        height: auto;
        animation-name:hoverIn;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        left: 7%;
        top: 95%;
    }
    @keyframes hoverIn {

        0% {
            margin-left: 60%;
            margin-top: -2%;
        }

        50% {
            margin-left: 60%;
            margin-top: -4%;
        }

        100% {
            margin-left: 60%;
            margin-top: -2%;
        }
    }
    #anchor {
        position: absolute;
        padding-top: 100px;
        margin-top: 8%;
    }
    #rooms {
        display: block;
        margin-top: 15%;
        margin-left: 8%;
        z-index: 20;
    }

   #chat2 {
       padding-bottom: 0.6%;
       transition-duration: 1s;
    }
   #chat2:hover {
    transition-duration: 1s;
   }
   #chat2:hover ul li{
       display:block;
       transition-duration: 1s;
       transition-delay: 0.1s
   }
       
   
    h2 {
       font-size: 25px;
       font-weight: 600;
       margin-bottom: 3%;
    }
    h6 {
        font-size: 12px;
        font-weight: 500;
    } 
    .chat {
        float: left;
        margin-right: 2.4%;
        border: solid 3px #33CC33;
        color: #33CC33;
        text-align: center;
        font-family: Ubuntu;
        padding: 2% 3%;
        z-index: 20;
        transition-duration: 1s;
    }
#chat2 ul li {
        list-style-type: none;
        font-family: Ubuntu;
        margin:20px 0px;
        display:none;
        transition-duration:1s
    }

    .chat:hover {
            border: solid 3px white;
            color: white;
         
        }
    #line0 {
        margin-top: 220px;
        font-family: Ubuntu;
        position: absolute;
        color: white;
        font-size: 17px;
        margin-left: 8%;
    }
    #line1 {
        font-weight: 500;
        margin-bottom: 2%;
       
    }
    #hoverme {
        margin-top: 160px;
        margin-left: 80px;
        position:absolute;
        font-family: Ubuntu;
        color: #33CC33;
    }
    #vyggo2 {
        position:absolute;
        margin-top: 110px;
        margin-left: 90px;
        font-weight:500;
        position:absolute;
        font-family: Ubuntu;
        color: #33CC33;
    }
    #wordpress {
        width: 80px;
        height:auto;
        position:relative;
        left:170px;
        top: -30px;
        
    }
    #wordlink {
        color: #33CC33;
        font-family: Ubuntu;
        font-weight:500;
        text-decoration:none;
        position:relative;
        top: 150px;

    }       
    #logotxt {
        display: block;
        opacity: 0;
        transition-duration: 1s;
        margin-top: 50px;
        width: 500px;
        margin-left: 250px;
        font-family: Ubuntu;  
        color: #33CC33;    
    }
    #logo2:hover #logotxt {
        display:block;
        opacity:1;
         transition-duration: 1s;
           transition-delay: 1s;
    }
    #logo2:hover {
        width: 700px;
        transition-duration: 1s;
    }
    #logo2 {
        background-color: white;
        width: 227px;
        height: 200px;
        position:absolute;
        margin-top: 18%;
        transition-duration: 1s;
        display:none;
    }
    #logo22:hover #logotxt2 {
        display:block;
        opacity:1;
        transition-duration: 1s;
        transition-delay: 1s;
    }
    #logo3 {
        display:none;
        width: 100px;
        height:auto;
        margin-top: 30px;
        float: left;
        margin-right: 0%;
        margin-left: 60px;
    }
    #logotxt2 {
        display: block;
        opacity: 0;
        transition-duration: 0.5s;
        margin-top: 50px;
        width: 500px;
        margin-left: 250px;
        font-family: Ubuntu;  
        color: #ed610c;  
    }
    #logo1 {
        width: 100px;
        height:auto;
        margin-top: 30px;
        float: left;
        
        margin-right: 0%;
        margin-left: 60px;
    }
    #logo22:hover {
        width: 700px;
        transition-duration: 1s;
    }
    #hoverme2 {
        margin-top: 160px;
        margin-left: 80px;
        position:absolute;
        font-family: Ubuntu;
        color: #ed610c;
    }
    #vyggo22 {
        position:absolute;
        margin-top: 110px;
        margin-left: 65px;
        font-weight:500;
        position:absolute;
        font-family: Ubuntu;
        color: #ed610c;
    }
    #logo22 {
        background-color: white;
        width: 227px;
        height: 200px;
        position:absolute;
        margin-top: 18%;
        margin-left: 8%;
        transition-duration: 1s;
    }
    #logo33 {
        display:block;
        width: 100px;
        height:auto;
        margin-top: 30px;
        float: left;
        margin-right: 0%;
        margin-left: 60px;
    }
    #line2 {
        margin-left: 0%;
        margin-top: 350px;
        font-family: Ubuntu;
        position: absolute;
        color: #33CC33;
        font-size: 17px;
        font-weight: 500;
    }
    #line3 {
        margin-bottom: 1%;
    }
    #line4 {
        margin-bottom: 1%;
    }
    #line5 {
        margin-bottom: 2%;
    }
    #blue {
        color:#ed610c;
    }
    #content3 {
        transition-duration: 1s;
        background-color: black;
        height: 500px;
        width: 100%;
        margin-left: -7.2%;
        position: absolute;
        margin-top: 23%;
        opacity: 0.9;
        z-index: -20;
        margin-left:-8%;

    }
    @keyframes hoverout {

        0% {
            margin-top: 4%;
        }

        50% {
            margin-top: 2%;
        }

        100% {
            margin-top: 4%;
        }
    }
    #anchor2 {
        position: absolute;
        padding-top: 100px;
        margin-top: 10%;
    }
    #kenneths_maddness {
        width: 1104px;
        height: auto;
        position: relative;
        top: 400px;
    }
   #content2 {
        background-color: #ed610c;
        height: 494px;
        width: 100%;
        position: absolute;
        margin-left:-2%;
        margin-top: 40%;
     opacity: 0.7;
        transition-duration: 1s;
    }
   #footer li {
    display:inline;
    font-weight:600;
    margin-left: 10%;
    margin-right:10%;
    color: #33CC33;
    text-decoration:none !important;
}

#footer li a {
    color: #33CC33;
    text-decoration:none !important;
    text-decoration-line:none;
}
#footer li a:hover {
    color: white;
}
#footer {
    margin-left: -8%;
    margin-top: 540px;
    padding-top: 20px;
    padding-bottom: 30px;
    width: 100%;
    font-family:Ubuntu;
    list-style-type:none;
    color:white;
    z-index: 50;
    opacity: 0.9;
    position:absolute;
    border-top: 2px solid white;
    background-color: black;
    margin-bottom:0px;
}
}
