<template name='header'>
<header>
            <div id="headerlogo">
                <img id="logo" src="/logo.png" />
                <img id="logologo" src="/logo2.png"/>
                <div id="vyggo">Vyggo</div></div>
                <div id="icons">
                    <a href="#"><img class="icon" src="/facebookorange.png" /></a>
                    <a href="#"><img class="icon" src="/linkedinorange.png" /></a>
                    <a href="#"><img class="icon" src="/twitterorange.png" /></a>
                    <a href="#"><img class="icon" src="/googleplusorange.png" /></a>
                </div>
                <div id="iconsgreen">
                    <a href="#"><img class="icongreen" src="/facebookgreen.png" /></a>
                    <a href="#"><img class="icongreen" src="/linkedingreen.png" /></a>
                    <a href="#"><img class="icongreen" src="/twittergreen.png" /></a>
                    <a href="#"><img class="icongreen" src="/googleplusgreen.png" /></a>
                </div>
</header>
</template>    