<template name='authModal'>
	<div class='header'>
		<h2 class="ui inverted center aligned icon header">
		  <i class="sign in icon"></i>
		  Login
		</h2>
	</div>
	<div class='content'>
		<form class='ui form' id='{{#if isSignup}}signup{{else}}login{{/if}}-form'>
			<div class='two fields'>
				<div class='field'>
					<input type='text' name='identity' placeholder='username or email...'>
				</div>
				<div class='field'>
					<input type='password' name='password' placeholder='password...'>
				</div>
			</div>
			<div class='field'>
				<button class='fluid positive ui button' type='submit'>Login</button>
			</div>
		</form>
	</div>
</template>