<template name='home'>

    <div id="subscribe1"> </div>
    <div id="content3"></div>
    <div class="wrapper">
        
            <div id="container1">
                <div class="text2">
                    <h1 id="amazing">Expressing made amazing !</h1>
                    <h1 id="gameamazing">Expressing made game amazing</h1>

                    <div id="text4">This is the begining of why this product will be amazing:</div>
                </div>


                
                <div id="rooms"><div id="row">
                    <a href="http://www.vyggoroom1.somee.com/index.html"><div class="chat" id="chat1">
                        <h2>Q&A chat</h2><h6>Our staff will be anwering <br /> your questions</h6>
                    </div></a>
                    <a href="http://www.vyggoroom2.somee.com/index.html"><div class="chat" id="chat2">
                        <h2>Custom topics</h2> <h6>This is chat that will be discusing<br />your suggested topics<br />
                        (Review schedule inside)</h6>
                        <ul>
                            <li>schedulevfsbvfs</li>
                            <li>schedule</li>
                            <li>schedule</li>
                        </ul>
                    </div></a>

                    <a href="http://www.vyggoroom3.somee.com/index.html"><div class="chat" id="chat3">
                        <h2>Social salad</h2><h6>Room that has random<br />topics all the time.
                    </h6> 
                </div></a></div></div>
                
                <div id="raper">   
                    <div id="logo2" onclick="switch_style('dark'); return false;">
                        <img id="logo3" src="dark/logo2.png" />
                        <div id="vyggo2">Vyggo gaming</div>
                        <div id='hoverme'>Hover me!</div>
                    </div>
                    <div id="stylewrap"><div id="logotxt">
                        As you see, the gamer has the big focus.
                        <br />Why? Gamers are in big need of finding people
                        <br /> with the same enthusiasm as themselves. Teamed
                        <br /> with you,the gamer this is EZ.
                        
                    </div> </div></div>

                    <div id="raper22">   
                     <div id="logo22" onclick="switch_style('light'); return false;">
                        <img id="logo33" src="dark/logo.png" />
                        <div id="vyggo22">Vyggo neutral</div>
                        <div id="hoverme22">Hover me!</div>
                    </div>
                    <div id="stylewrap22"> <div id="logotxt22">
                     As you see, the gamer has the big focus.
                     <br />Why? Gamers are in big need of finding people
                     <br /> with the same enthusiasm as themselves. Teamed
                     <br /> with you,the gamer this is EZ.

                 </div></div> </div>
                 

             </div>

             <form id="subscribe">
                <div id="subscribeinside">
                    <div id="newsletters">Subscribe for our newsletters</div>
                    <!--Working subscription that collects data in database -->

                    <input type="text" ID="txtfname" name="firstname" placeholder="Your name" />
                    
                    <input type="text" ID="txtlname" name="lastname" placeholder="Your last name" />
                    
                    <input type="text" ID="txtemail" name="email" placeholder="Your email" />
                    <input type="text" ID="txtinterest"  name="interest" placeholder="Share your interests :)" />
                    
                    <input type="checkbox" ID="Check" name="newsletter" Width="300px" Height="47px" />
                    <label> Check if you want to make this product more awsome!(Optional) </label>
                    <input type="submit" ID="Button1" Text="Subscribe" CssClass="butonas" Height="40px" />
                    
                    <label ID="Label1" Visible="False"></label>
                </div>
            </form>
            
            <div id="wordwrap">   
             <a href="http://www.vyggoblog.wordpress.com " id="wordlink">
                 <img src="style/wordpress.png" id="wordpress" />
                 <img src="dark/wordpressgreen.png" id="wordpressgreen" />
                 <div id="wordtxt">   Follow the development on our blog. </div>

             </a> 

         </div>
         <div id="container2">
            <div id="line2">Our product vision, what is yours?</div>
            <img id="kenneths_maddness" src="style/Alpha.png" />
        </div>
    </div>
    
</template>
