<template name='room'>
	<div id="roomscontainer">
    
    <div id="chat8">
      <div id="specification">
        <div id="roominfo">
          <div id="roomname">MArveL Room</div>
          <div id="chatmaster">Chat master: Kenneth</div>
          <div id="capacity">Room capacity: 6 video cameras and unlimited amount of chat users.</div>
        </div>
        <div id="profile">
          
        </div>
      </div>
      <div id="middle">
        <div id="middleleft">
          
        </div>
        <div id="middlecenter">
          <form id='new-message'>
            <input name='message' autocomplete='off' type='text' placeholder='Write message...' >
          </form>
          <ul id="messages"></ul>
        </div>
        <div id="userlist">
          
        </div>
      </div>
    </div>
    
    
    
  <div id='wrapper'>
    <div id="videos">
      <div class="videoFrame">
      <video id="localVideo" controls='controls'>
      </video>
      </div>
    
  </div>
 </div>
	</div>
</template>