#roomcontainer { 
  position:absolute;
  width:100%;
  height:101%;
  background-color:white;  
}
#roomleft {
  width:25%;
  height:80%;
  float:left;
  position:static;

}
#profileinfo {
  width:100%;
  height:80%;
  background-color:gray;
  position:static;
  float:left;
  text-align:center;
}
#profilepic{
  margin-top:2%;
}
#roomfeedback {
  width:100%;
  height:20%;
  background-color: #ed610c;
  position:static;
  float:left;
  text-align:center;
}
#feedtext {
  font-family:'Ubuntu';
  font-size: 1.5vw;
  color:white;
  margin-top: 2%;
}
#userfeedback input {
  width: 60%;
  height: 60%;
  margin-top: 2%;
  color:white;
  font-size: 0.8vw;
  font-family:'Ubuntu';
  float:none; 
}
#roommiddle {
  width:50%;
  height:80%;
  float:left;
  position:static;
}
#roominfo {
  font-family:'Ubuntu';
  width:100%;
  height:20%;
  float:left;
  position:static;
}
#roominfoleft {
  width:50%;
  height:100%;
  background-color: #ed610c;
  float:left;
  position:static;
}
#roomowner {
  margin-left:2%;
  color:white;
}
#roomname {
  font-size: 2vw;
  margin-bottom:2%;
  margin-top:2%;
  margin-left:2%;
  color:white;
}
#roominforighttext {
  margin-top:8%;
  padding-left: 8%;
  color:white;
  border-left: 2px solid white;
}
#roominforight {
  width:50%;
  height:100%;
  background-color:#ed610c;
  float:left;
  position:static;
}
#roomright {
  width:25%;
  height:80%;
  float:left;
  position:static;

}
#roomshare {
  border-left: solid 2px white;
  border-bottom:solid 2px white;
  height:20%;
  width:100%;
  background-color:#ed610c;
  float:left;
  position:static; 
  font-family:'Ubuntu';
  font-size: 0.8vw;
  text-align:center;
  color:white;
}
#roomcopyshare {
  margin-top:2%;
}
#roomsharetext {
  margin: 2% 5%;
}
#roomshareinput {
  font-family:'Ubuntu';
  font-size:1vw;
  color:white;
}
#userlist {
  height:80%;
  width:100%;

  float:left;
  position:static;
}
.username {
  font-family:'Ubuntu';
  font-size:0.8vw;
  float:left;
  margin-left:5%;
  margin-top: 10%;
  
}
.userlistpic {
  width: 20%;
  height:auto;
  float:right;
  margin-top:10%;
  margin-right: 5%;
}
#userunorderedlist {
  list-style-type:none;
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  overflow-y:scroll;
}
.uservolume {
  width: 5%;
  height:auto;
  margin-top:9.9%;
  margin-left:2%;
  
}
#userunorderedlist li {
  height:20%;
  float:left;
  width: 100%;
  background-color:white;
  border-bottom:2px #ed610c solid;
}
#videos {
  height: 100%;
  text-align:center;
}
video {
  height:100%;
  transition-duration: 1s;
  bottom:0;
  margin: 0 auto;
  border-radius: 1vw;
}
.videoFrame {
  text-align:center;
}
#wrapper {
  float:left;
  position:static;
  background-color:#ed610c;
  width:100%;
  height:20%;
}
/* one item */
.videoFrame:first-child:nth-last-child(1) {
  height:100%;
  float:left;
  width: 100%;
}
/* two items */
.videoFrame:first-child:nth-last-child(2),
.videoFrame:first-child:nth-last-child(2) ~ .videoFrame {
  height:100%;
  float:left;
  width: 50%;
}
/* three items */
.videoFrame:first-child:nth-last-child(3),
.videoFrame:first-child:nth-last-child(3) ~ .videoFrame {
  height:100%;
  float:left;
  width: 33.3333%;
}
/* four items */
.videoFrame:first-child:nth-last-child(4),
.videoFrame:first-child:nth-last-child(4) ~ .videoFrame {
  height:100%;
  float:left;
  width: 25%;
}
#chat8 {
  text-align:center;
  float:left;
  width:100%;
  height:100%;

}
form {
  margin:0;
}
#messages {
  margin:0;
  text-align:left;
  font-family:'Ubuntu';
  width:100%;
  height: 74%;
  overflow-y: scroll;
  overflow-x: hidden;
  border-bottom:2px solid white;
  padding-left: 20px;
  color:white;
  background: rgba(50,50,50,0.8);
}
#messages li {
  width:80%;
  font-size: 1vw;
  list-style-type: none;
  margin: 5px; 
}
/*
.textFrame {
  bottom:0;
  transform: scaleY(-1);
  
}
#messages {
  transform: scaleY(-1);
  
}*/
#new-message input {
  width: 100%;
  font-size: 1vw;
  padding: 1% 0;
  background: rgba(50,50,50,0.8);
  color:white;
  margin:0;
  border:none;
}