<template name='room'>
  <div id="roomcontainer">
    <div id="roomleft">
      <div id="profileinfo">
        <img id="roomlogo" src="/dark/logo.png" />
        <img id="profilepic" src="/dark/profile.png" />
        <div id='buttonwrraper'>
        <div id="subscribedrooms">Subscribed<div id="notificationsr"></div>
          </div>
          <div id="friendslist">Friends list<div id="notificationfl"></div>
          </div>
        </div>
      </div>
      <div id="roomfeedback">
        <div id='feedtext'>Feedback</div>
        <form id='userfeedback'>
        <input name='feedback' id="feedbacktextbox" autocomplete='off' type='textbox' placeholder='Write any improvements or suggestions you have in mind' >
        <input type="submit" ID="feedbacksubmitbutton" value="Submit" />
      </form>
      </div>
      <div id='usercontrol'>
        <img id="xelophoneicon" src="/dark/xhelophone.png">
        <img id="headphoneicon" src="/dark/headphones.png">
        <img id="settingicon" src="/dark/cog.png">
      </div>
    </div>
    <div id="roommiddle">
      <div id="roominfo">
        <div id="roominfoleft">
        <div id="roomname">Marvel</div>
        <div id="roomowner">Room owner: KKK </div>
        </div>
        <div id="roominforight">
          <div id="roominforighttext">
          <div id="nousers">Users: 5/6</div>
          <div id="roomstatus">Status: Public</div>
          <div id="roomfeatures">Features: ?</div>
          </div>
        </div>
        </div>
        <div id='chatmiddle'>
                    <ul id="messages"></ul>
                    <form id='new-message'>
            <input id='messageinput' name='message' autocomplete='off' type='text' placeholder='Write message...' >
          </form>
        </div>
    </div>
    <div id="roomright">
      <div id="roomshare">
        <div id="roomcopyshare">Share room</div>
        <div id="roomsharetext">Share the link of the chat with someone as enthusiastic as you</div>
        <input id="roomshareinput" readonly="readonly" type="text" value="http://www.vyggo.meteor.com/rooms/q&a">
      </div>
      <div id="userlist">
        <ul id="userunorderedlist">
          <li class="userview"><div class="username">Username</div><img class="uservolume" src="/dark/volume.png"><img class="userlistpic" src="/dark/profile.png"></li>
          <li class="userview"><div class="username">Username</div><img class="uservolume" src="/dark/volume.png"><img class="userlistpic" src="/dark/profile.png"></li>
          <li class="userview"><div class="username">Username</div><img class="uservolume" src="/dark/volume.png"><img class="userlistpic" src="/dark/profile.png"></li>
          <li class="userview"><div class="username">Username</div><img class="uservolume" src="/dark/volume.png"><img class="userlistpic" src="/dark/profile.png"></li>
          <li class="userview"><div class="username">Username</div><img class="uservolume" src="/dark/volume.png"><img class="userlistpic" src="/dark/profile.png"></li>
          <li class="userview"><div class="username">Username</div><img class="uservolume" src="/dark/volume.png"><img class="userlistpic" src="/dark/profile.png"></li>
          <li class="userview"><div class="username">Username</div><img class="uservolume" src="/dark/volume.png"><img class="userlistpic" src="/dark/profile.png"></li>
          <li class="userview"><div class="username">Username</div><img class="uservolume" src="/dark/volume.png"><img class="userlistpic" src="/dark/profile.png"></li>
          <li class="userview"><div class="username">Username</div><img class="uservolume" src="/dark/volume.png"><img class="userlistpic" src="/dark/profile.png"></li>
          <li class="userview"><div class="username">Username</div><img class="uservolume" src="/dark/volume.png"><img class="userlistpic" src="/dark/profile.png"></li>
        </ul>
      </div>
    </div>
    
  <div id='wrapper'>
    <div id="videos">
      <div class="videoFrame">
      <video id="localVideo" controls='controls'>
      </video>
      </div>
    
      </div>
    </div>
    
  </div>
</template>