<template name='authModal'>
	<div class='header'>
		<h2 class="ui inverted center aligned icon header">
		  <i class="{{#if isSignup}}add user{{else}}sign in{{/if}} icon"></i>
		  {{#if isSignup}}Sign Up{{else}}Login{{/if}}
		</h2>
	</div>
	<div class='content'>
		<form class='ui form' id='{{#if isSignup}}signup{{else}}login{{/if}}-form'>
			<div class="two fields">
				<div class='field'>
					<input
						type='{{#if isSignup}}email{{else}}identity{{/if}}'
						name='{{#if isSignup}}email{{else}}identity{{/if}}'
						placeholder='{{#unless isSignup}}username or {{/unless}}email...'
					>
				</div>
				<div class='field'>
					<input
						type='{{#if isSignup}}username{{else}}password{{/if}}'
						name='{{#if isSignup}}username{{else}}password{{/if}}'
						placeholder='{{#if isSignup}}username{{else}}password{{/if}}...'
					>
				</div>
			</div>
			{{#if isSignup}}
				<div class="two fields">
					<div class='field'>
						<input
							type='password'
							name='password'
							placeholder='password'
						>
					</div>
					<div class='field'>
						<input
							type='password'
							name='confirm'
							placeholder='confirm password...'
						>
					</div>
				</div>
			{{/if}}
			<div class='field'>
				<button class='fluid positive ui button' type='submit'>{{#if isSignup}}Sign Up{{else}}Login{{/if}}</button>
			</div>
			<div class='field'>
				<button class='ui fluid inverted basic button' id='toggle-isSignup'>{{#if isSignup}}already have a user?{{else}}don't have a user yet?{{/if}}</button>
			</div>
		</form>
		{{>message type='negative' key='authModal'}}
	</div>
</template>
